.Rproj.user
.Rhistory
.RData
.Ruserdata
.snakemake
code/MEC/
import/**
logs/**
benchmarks/**
processed_sample_data.tsv
intervals.txt
code/eval_assembly_merge.nb.html
code/eval_assembly_merge.rmd
code/import.nb.html
*.fasta
*.fasta.gz
*.fa
*.fa.gz
*.faa
*.gfa
*.fq
*.fq.gz
*.fastq
*.fastq.gz
*.bam
*.sam
**/ref/**
data/omics/amplicons/**
data/omics/genomes/**
data/omics/metabolomes/**
data/omics/metagenomes/**
data/omics/metatranscriptomes/**
data/reference/**
data/sample_metadata/**
data/environment/**