.Rproj.user
.Rhistory
*.RData
.Ruserdata
.snakemake
code/MEC/
import/**
logs
benchmarks
data
processed_sample_data.tsv
intervals.txt
code/eval_assembly_merge.nb.html
code/eval_assembly_merge.rmd
code/import.nb.html
*.fasta
*.fasta.gz
*.fa
*.fa.gz
*.faa
*.gfa
*.fq
*.fq.gz
*.fastq
*.fastq.gz
*.bam
*.sam
**/ref/**
.secrets
micromamba/
tmp/
results/**
*.dmp
.DS_Store
runplan
ToMOVE_culture_collection_figures/**
*.log
